body{
 background-color: #ffffdd;
 background-repeat: no-repeat;
}

.topnav {
  overflow: hidden;
  background-color: #ffd5e5;
}

.topnav a {
  float: left;
  color: #ffde5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ffc7c7;
  color: white;
}

h2 {
 background-color: #ffdac1; 
 text-align: center;
 text-shadow: 3px 2px #f6abb6;
 font-style: italic;
 font-size: 60px;
}

form {
  background-color: #E0D7FF;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  
}

label {
color: black;
font-weight: bold;
font-style: italic;
display: block;
width: 80px;
float: center;
}

.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
.submit{
	background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  
  }
  
  
  
  
  